:root {
  --bold: 900;
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);

  --small-border: 0.75em;
  --large-border: 1.5em;
}

body {
  background-color: var(--very-pale-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/images/pattern-background-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 30rem;
  border-radius: var(--large-border);
  overflow: hidden;
  text-align: center;
  background-color: white;
  font-family: "Red Hat Display", sans-serif;
  margin: 1em;
}

.card__image {
}

.card__content {
  padding: 3rem;
}

.card__title {
  font-size: 1.8rem;
  color: var(--dark-blue);
  margin-bottom: 0.5em;
  font-weight: var(--bold);
}

.card__description {
  margin: 1em;
  font-weight: 700;
  color: var(--desaturated-blue);
  line-height: 1.5rem;
}

.card__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5em;
  background-color: var(--very-pale-blue);
  border-radius: var(--small-border);
  margin: 1em 0;
  justify-content: space-between;
}

.card__item__left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card__item__content {
  flex-direction: column;
}

.card__item__title {
  font-weight: var(--bold);
}

.card__item__description {
  color: var(--desaturated-blue);
}

.card__item__icon {
  margin-right: 1em;
}

.card__item__action {
  text-decoration: none;
  color: var(--bright-blue);
  font-weight: 900;
  font-size: 0.85rem;
}

.card__button {
  margin: 1em 0;
  width: 100%;
  border-radius: var(--small-border);
  text-decoration: none;
  cursor: pointer;
  padding: 1em;
  border: none;
}

.card__button--primary {
  font-weight: 700;
  color: var(--very-pale-blue);
  background-color: var(--bright-blue);
}

.card__button--secondary {
  color: var(--dark-blue);
  font-weight: 900;
  font-size: 0.85em;
}
